.header {
  display: grid;
  padding: 2rem 2rem;

  &__logo {
    width: 3rem;
  }
}

.hero {
  display: grid;
  margin: 2rem 4rem;
  &__image {
    background-color: $color-grey;
    width: 100%;
    height: 35rem;
  }
}

.news {
  display: grid;
  margin: 2rem 4rem;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    overflow: hidden; // ou scroll
  }

  &__list-item {
    border-radius: 1rem;
    box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
    background-color: $color-grey;
    width: 36rem;
    height: 60rem;
    margin: 1 1rem;
  }
}

.gallery {
  margin: 5rem;

  &__title {
    margin-bottom: 4rem;
  }

  &__image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }

  &__image {
    width: 25rem;
    height: 18.75rem;
  }
}

.services {
  margin: 5rem;

  &__title {
    margin-bottom: 4rem;
  }

  &__presentation {
    display: flex;
    margin-bottom: 5rem;

    &-image {
      width: 42rem;
      height: 27rem;
    }

    &-text {
      display: flex;
      flex-direction: column;
      width: 33rem;
      height: 13rem;
      margin: 3rem;
    }
  }
}
